$main-color:                   #0f0f0f;
$secondary-color:              #50e3c2;
$color-white:                  #ffffff;
$color-text-secondary:         #575656;
$color-input-error:            #e6807f;
$block-bg:   rgba(216, 216, 216, 0.04);